    <form action = "/" method="post">  
        <h1>Share restaurant information</h1>
        <input type="text" 
               name="name"
               placeholder="The name of restaurant" 
               size = 40 
               style = "position: absolute;left: 100px;top: 150px;">
        <input type="text" 
               name="address"
               placeholder="Address" 
               size = 40 
               style = "position: absolute;left: 100px;top: 200px;">
        <input type="text" 
               name="type"
               placeholder="The type of dish" 
               size = 40 
               style = "position: absolute;left: 100px;top: 250px;">
        <input type="text" 
               name="bestdish"
               placeholder="Your best dish" 
               size = 40 
               style = "position: absolute;left: 100px;top: 300px;">
        <select name  ="price"
                style="position: absolute;left: 100px;top: 350px;">
            <option value="0~10$">0~10$</option>
            <option value="11~20$">11~20$</option>
            <option value="21~50$">21~50$</option>
            <option value="51~100$">51~100$</option>
            <option value="101~200$">101~200$</option>
            <option value="201~300$">201~300$</option>
            <option value="301$~">301$~</option>
            <option value="I don't remenber">I don't remenber</option>
        </select>
        <input type="url" 
               name="url"
               placeholder="URL" 
               size = 42 
               style="position: absolute;left: 100px;top: 370px;">             

        <input type="submit" 
               name="submit"
               value="Finish" 
               style = "position: absolute;left: 100px;top: 420px;" >

    </form>  